@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* ---COMMON STYLES--- */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /* set background as solid color and gradient in case browser doesn't support gradient */
  background: #efefbb;
  background: linear-gradient(to right, #003a70, #3d7dca, #ffcb05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* ---HEADER--- */

h1 {
  display: block;
  padding: 10px;
  border: 5px solid #003a70;
  border-radius: 10px;
  letter-spacing: 3px;
  color: #ffcb05;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 36px;
}

/* ---NAVIGATION--- */

.gen-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.gen-nav button {
  display: inline-block;
  width: 100px;
  height: 36px;
  text-align: center;
  margin: 5px;
  border: 5px solid #003a70;
  border-radius: 10px;
  color: #ffcb05;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.gen-nav button.active {
  border: 5px solid #ffcb05;
}

.gen-nav button:hover {
  background-color: #3d7dca;
}

.gen-nav button:focus {
  outline: none;
  background-color: #3d7dca;
}

/* ---POKEMON CARDS CONTAINER--- */

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 50px;
  max-width: 1500px;
}

/* ---POKEMON CARD--- */

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  width: 220px;
  text-align: center;
  position: relative;
  border: 10px solid #ffcb05;
}

/* ---POKEMON CARD HEADER--- */

.pokemon .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.pokemon .icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.pokemon .icon img {
  height: 120%;
  border-radius: 50%;
  object-fit: center;
  position: absolute;
  top: -2px;
  right: -6px;
}

.pokemon .name {
  margin: 5px;
  letter-spacing: 1px;
}

/* ---POKEMON CARD MAIN IMAGE--- */

.pokemon .img-container {
  background-color: rgba(0, 0, 0, 0.2);
  width: 160px;
  height: 120px;
  border: 5px solid #ffcb05;
  transform: scale(1);
  transition: scale 0.5s ease;
  margin: 0 auto;
}

.pokemon:hover .img-container {
  transform: scale(0);
  transition: scale 0.5s ease;
}

.pokemon .img-container img {
  max-height: 90%;
  margin-top: 5px;
}

/* ---POKEMON CARD SHINY IMAGE--- */

.pokemon .shiny-img-container {
  background-color: rgba(255, 255, 255, 0.6);
  width: 160px;
  height: 120px;
  border: 5px solid #ffcb05;
  position: absolute;
  top: 35px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: scale 0.5s ease;
}

.pokemon:hover .shiny-img-container {
  transform: scale(1);
  transition: scale 0.5s ease;
  cursor: pointer;
}

/* ---POKEMON CARD INFO--- */

.pokemon .info {
  margin-top: 5px;
  margin-bottom: 10px;
}

.pokemon .info .number {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

/* ---UP BUTTON--- */

#upBtn {
  width: 50px;
  height: 50px;
  font-size: 50px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  border-radius: 50%;
  color: #003a70;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#upBtn:hover {
  color: #3d7dca;
}